# Created by .ignore support plugin (hsz.mobi)
node_modules/
**.js
**.js.map
.directory
!/karma.conf.js
/coverage/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/workspace.xml
examples/moderate.txt~
.idea/angular-settings.xml
